	html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background:#FFF;
		font-family: Microsoft JhengHei;
		font-size: 12pt;
		font-weight: 400;
		color:#FFF;
	}

	.container
	{
		margin: 0px auto;
		width: 1200px;
		height:auto;
	}


/*********************************************************************************/
/* Wrapper                                                                       */
/*********************************************************************************/

	#wrapper1
	{
		background: #242424;
	}
	
	#wrapper1
	{
		overflow: hidden;
		padding: 0em 0em 8em 0em;
		background: #FFF;
	}

/*********************************************************************************/
/* photo                                                                         */
/*********************************************************************************/
	div.photo{
		background-color:#afaeae;
		width:80%;
		height: 100px;
		max-width: 80%;
		max-height: 30%;
		margin-top:30px;
		opacity:1;
	}
	
/*********************************************************************************/
/* Thumbnail                                                                         */
/*********************************************************************************/
	div.Thumbnail{
		background-color: #afaeae;
		width:150px;
		height: 150px;
		max-width: 120px;
		max-height: 120px;
		margin-top:30px;
		position:absolute;
		margin-left:600px;
	}
	
	input.Thumbnailbt{
		position:absolute;
		margin-left:40%;
		margin-top:160px;
		opacity:0;
	}
	
	label img{
		position:absolute;
		margin-left:600px;
		margin-top:160px;
	}
	
	div.Thumbnail h3{
		text-align:center;
		line-height:90px;
		color:rgb(94, 94, 94);
	}

/*********************************************************************************/
/* button                                                                         */
/*********************************************************************************/
	input.button{
		margin-top:10px;
		margin-bottom: 20px;
	}
/*********************************************************************************/
/* Button1 Style                                                                  */
/*********************************************************************************/

	.button1
	{
		display: inline-block;
		margin-top: 2em;
		padding: 1px 2px 1px 2px;
		margin-left:250px;
		background:#FFB8B8;
		letter-spacing: 0.20em;
		line-height: 1.8em;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.2em;
		color: #FFF;
		-webkit-border-radius: 30px;
		-moz-border-radius: 30px;
		/*把按鈕調成圓弧形*/
		border-radius: 30px;
	
		-webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
		-moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
		box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
	
		-webkit-transition: all 0.15s ease;
		-moz-transition: all 0.15s ease;
		-o-transition: all 0.15s ease;
		-ms-transition: all 0.15s ease;
		transition: all 0.15s ease;
		
	}
/*********************************************************************************/
/* form-group                                                                         */
/*********************************************************************************/
	div.form-group{
		margin-bottom: 20px;
	}

/*********************************************************************************/
/* table                                                                       */
/*********************************************************************************/
	table{
		margin-top: 20px;
		margin-left: 2%;
		border-collapse:collapse;
		border-spacing:2px;
		text-align:center;
		margin-bottom:10px;
	}
	
	td{
		padding-bottom: 10px;
	}


/*********************************************************************************/
/* walfare                                                                        */
/*********************************************************************************/
	form h3{
		margin-top:20px;
		margin-bottom:-10px;
	}
	#map_canvas{
		border-radius:20px;
		box-shadow:0px 1px 3px 1px #000;
	}
	
	  
/*********************************************************************************/
/* detail                                                                     */
/*********************************************************************************/
	div.detail {
		float:left;
        width: 80%;
        height: 600px;
		margin-top:50px;
      }
	  
	textarea{
		width: 100%;
		height:100px;
	}
	
/*********************************************************************************/
/* submit                                                                     */
/*********************************************************************************/
	div.submit {
		width:1200px;
        height: 50px;
		background:no-repeat url(../images/submit.jpg);
		margin-top:70px;
		margin-left:40%
      }
/*********************************************************************************/
/* content                                                                       */
/*********************************************************************************/
	div.content{  
		margin-left:15%;
		padding:0px 30px 20px 30px;
		margin-bottom:100px;
		color:#000;
		padding-top: 400px;
	}
