html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		font-family: Microsoft JhengHei;
		font-size: 12pt;
		font-weight: 400;
		color: #000000;
	}
	
	
	a
	{
		color: #0000FF;
	}
	
	a:hover
	{
		text-decoration: none;
	}
	

	.container
	{
		margin: 0px auto;
		width: 1200px;
	}
	


/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		display: inline-block;
		border: 1px solid rgba(0,0,0,.1);
	}
	
	.image img
	{
		display: block;
		width: 100%;
	}
	
	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 3em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}
	
	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}


/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		margin-top: 2em;
		padding: 0em 1em 0em 1em;
		background:#FC0;
		letter-spacing: 0.20em;
		line-height: 1.8em;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.2em;
		color: #FFF;
	}
	
	

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header-wrapper
	{
		overflow: hidden;
		background:#FFF;
		padding: 5em 0em;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		background-image:url(../images/bg.jpg);
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		padding: 12em 0;
		text-align: center;
		position: relative;
	}
	
	
	

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	
	#menu ul
	{
		text-align: center;
	}
	
	#menu li
	{
		display: inline-block;
	}
	
	#menu li a, #menu li span
	{
		display: inline-block;
		margin-left: 0.50em;
		padding: 1em 1.5em;
		letter-spacing: 0.20em;
		text-decoration: none;
		font-size: 0.90em;
		font-weight: 600;
		text-transform: uppercase;
		outline: 0;
		color:#BC8F8F;
	}
	
	#menu .current_page_item a
	{
		background: #BF1E4B;
		color: #FFF;
	}
	

/*********************************************************************************/
/* Wrapper                                                                       */
/*********************************************************************************/

	#wrapper {
	overflow: hidden;
	background: #FFFFFF;
	box-shadow: 
    inset 0px 11px 8px -20px #CCC,
	inset 0px -11px 8px -10px #CCC;
	padding-top: 400px;
	}

	.container {
		width: 1200px;
		margin: 0px auto;
	}
	
	.clearfix {
		clear: both;
	}
	
	
/*********************************************************************************/
/* Page 網頁框框                                                                     */
/*********************************************************************************/
#page-wrapper {
	overflow: hidden;
}

#page {
	overflow: hidden;
	width: 1120px;
	margin: 0px auto;
	padding: 50px 40px;
	color: #8F8F8F;
}

/*********************************************************************************/
/* Content                                                                        */
/*********************************************************************************/

#wide-content {
	padding: 50px;
	border: 10px solid #f1f1f1;
}

#wide-content h2 {
	padding: 0px 0px 20px 0px;
	letter-spacing: -1px;
	font-size: 36px;
	color: #222222;
}
