@charset "utf-8";
html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background:#FFF;
		font-family: Microsoft JhengHei;
		font-size: 12pt;
		font-weight: 400;
		color: #000000;
	}

	.top{
		
		text-align:center;
		color:#fcc7d5;
	}

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.btn{
		margin-top:50px;
	}

	.button
	{
		display: inline-block;
		margin-top: 2em;
		margin-right:50px;
		padding: 0.2em 1em;
		background: #E85D4B;
		line-height: 1.8em;
		letter-spacing: 1px;
		text-decoration: none;
		font-size: 1em;
		color: #FFF;
		border-radius: 30px;
	
		-webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
		-moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
		box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
	}
	

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page-wrapper
	{
		overflow: hidden;
		background: #fff9f9;
		padding: 5em 0em;
	}

	#page
	{
	}

	#page .title h2
	{
		font-size: 1.60em;
		color:#999;
	}
	
/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
		float: left;
		width: 250px;
		margin-left:50px;
		margin-right:50px;
		margin-top:100px;
		color:#999;
	}
	



/*********************************************************************************/
/* Three Columns                                                                 */
/*********************************************************************************/

	#three-column
	{
		overflow: hidden;
		text-align: center;
		color: #FFF;
	}
	
	#three-column h2
	{
		margin: 1em 0em;
		font-size: 1.5em;
		font-weight: 700;
	}
	
	#three-column .icon
	{
		position: relative;
		display: block;
		margin: 0px auto 0.80em auto;
		background: none;
		line-height: 150px;
		font-size: 4em;
		width: 150px;
		height: 150px;
		border-radius: 100px;
		border: 6px solid #67128F;
		text-align: center;
		color: #FFF;
		
	}
		
	#three-column #tbox1,
	#three-column #tbox2,
	#three-column #tbox3
	{
		float: left;
		width: 320px;
		padding: 80px 40px 80px 40px;
	}


	ul.default
	{
		list-style: none;
		margin: 0;
		padding: 0;
	}

/*********************************************************************************/
/* content                                                                       */
/*********************************************************************************/
	div.content{   
		padding-top:450px;
		width:1200;
		margin-left:auto;
		margin-right:auto;	
		text-align:center;
	}