html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background:#FFF;
		font-family: Microsoft JhengHei;
		font-size: 12pt;
		font-weight: 400;
		color: #000000;
	}

/*********************************************************************************/
/* Wrapper                                                                       */
/*********************************************************************************/

	#wrapper1
	{
		background: #242424;
	}
	
	#wrapper1
	{
		overflow: hidden;
		padding: 0em 0em 8em 0em;
		background: #FFF;
	}
	
/*********************************************************************************/
/* content                                                                       */
/*********************************************************************************/
	div.content{       
		padding: 0px 0% 20px 25%;
		margin-bottom:500px;
	}

