html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background:#FFF;
		font-family: Microsoft JhengHei;
		font-size: 12pt;
		font-weight: 400;
		color: #000000;
	}


/*********************************************************************************/
/* table                                                                       */
/*********************************************************************************/
	table{
		float: left;
		margin-top: 20px;
		margin-left: 5%;
		border-collapse:collapse;
		border-spacing:2px;
		text-align:left;
		margin-bottom:10px;
	}
	
	td{
		padding-bottom: 20px;
	}

/*********************************************************************************/
/* Introduce                                                                       */
/*********************************************************************************/
	td.Introduce{
		max-width: 450px;
	}
/*********************************************************************************/
/* content                                                                       */
/*********************************************************************************/
	div.content{ 
		width: 80%;
		padding:30px 30px 20px 30px;
		margin-left: 10%;
		margin-bottom:500px;
	}

/*********************************************************************************/
/* img                                                                       */
/*********************************************************************************/
	img{ 
		float:left;
	}

	