html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background:#FFF;
		font-family: Microsoft JhengHei;
		font-size: 12pt;
		font-weight: 400;
		color: #000000;
	}
	
	


/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		float:right;
	}
	

	
	
/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact
	{
		margin: 0;
		padding: 2em 0em 0em 0em;
		list-style: none;
	}
	
	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.30em;
		font-size: 1.5em;
	}
	
	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}
	
	ul.contact li a
	{
		color: #FFF;
	}
	
	ul.contact li a:before
	{
		display: inline-block;
		width: 80px;
		height: 80px;
		line-height: 80px;
		border-radius: 40px;
		text-align: center;
		color: #FFFFFF;
	}
	


	
	
/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
	{
		margin-bottom: 3em;
	}
	
	.title h2
	{
		font-size: 2.8em;
		color:#FFF;
	}
	
	.title .byline
	{
		letter-spacing: 0.15em;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.1em;
		color: #6F6F6F;
	}

	
/*********************************************************************************/
/* Page                                                                        */
/*********************************************************************************/
#page-wrapper {
	overflow: hidden;
}

#page {
	overflow: hidden;
	width: 1120px;
	margin: 0px auto;
	padding: 50px 40px;
	color: #000;
}

/*********************************************************************************/
/* Content                                                                        */
/*********************************************************************************/

#wide-content {
	padding: 50px;
	border: 10px solid #f1f1f1;
}

#wide-content h2 {
	text-align:center;
	font-size: 46px;
	color: #000;
}


	