html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background:#FFF;
		font-family: Microsoft JhengHei;
		font-size: 12pt;
		font-weight: 400;
		color: #000000;
	}

/*********************************************************************************/
/* Wrapper                                                                       */
/*********************************************************************************/

	#wrapper1
	{
		background: #242424;
	}
	
	#wrapper1
	{
		overflow: hidden;
		padding: 0em 0em 8em 0em;
		background: #FFF;
	}
	
/*********************************************************************************/
/* container                                                                       */
/*********************************************************************************/
	div.container{       
		margin-bottom:100px;
	}

/*********************************************************************************/
/* content                                                                       */
/*********************************************************************************/
	div.content{       
		padding: 0px 0% 20px 25%;
		margin-bottom: 200px;
	}

/*********************************************************************************/
/* list                                                                        */
/*********************************************************************************/
	table{
		border-collapse:collapse;
		border-spacing:2px;
		width:110%;
		border:1px solid #000;
		text-align:center;
		margin-bottom:10px;
		margin-left: -22%;
		margin-right: 10%;
	}
	
	tr{
		font-weight:bold;
		height:40px;
	}


	tr.info{
		background-color:#ffad86;
		color:#000;
		font-weight:bold;
		height:30px;
	}
/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button1
	{
		display: inline-block;
		margin-top: 2em;
		padding: 1em 2em 1em 2em;
		margin-left:550px;
		background:#FFB8B8;
		letter-spacing: 0.20em;
		line-height: 1.8em;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.2em;
		color: #FFF;
		-webkit-border-radius: 30px;
		-moz-border-radius: 30px;
		/*把按鈕調成圓弧形*/
		border-radius: 30px;
	
		-webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
		-moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
		box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
	
		-webkit-transition: all 0.15s ease;
		-moz-transition: all 0.15s ease;
		-o-transition: all 0.15s ease;
		-ms-transition: all 0.15s ease;
		transition: all 0.15s ease;
		
	}
	
